In [ ]:
import numpy as np
import pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

data = pd.DataFrame(exam_data)
data.head(3)

In [ ]:
data.dropna()

In [ ]:
data.iloc[:,0:2]

In [ ]:
data.loc["k"] = ["Shuresh", 15.5, 1, "Yes",1]
print(data)

In [ ]:
data.drop('attempts', axis = 1)

In [ ]:
data['success'] = np.where (data['score'] > 10, 1, 0)
data.head()

In [31]:
data.to_csv('data.csv')

In [34]:
data.to_excel('data.xlsx')